<header
  class="fixed top-0 z-50 w-full border-b border-black/10 bg-gray-100 backdrop-blur-[20px] transition-colors duration-200 dark:border-b dark:border-white/10 dark:bg-gray-900"
>
  <div class="mx-auto max-w-7xl p-4">
    <div class="flex items-center justify-between">
      <a class="flex flex-shrink-0 items-center space-x-2" th:href="${site.url}">
        <th:block th:if="${theme.config.index_info.info_site.site_enabled == 'default' or theme.config.index_info.info_site.site_enabled == 'custom'}">
          <img
            alt="logo"
            th:classappend="${theme.config.index_info.info_site.site_enabled == 'default' ? 'size-9 md:size-8 rounded-xl md:rounded-2xl bg-cover lg:h-10 lg:w-10': 'bg-cover h-8 lg:h-10'}"
            th:src="${theme.config.index_info.info_site.site_enabled == 'custom' ? theme.config.index_info.custom.custom_logo : (theme.config.index_info.default.logo ?: site.logo)}"
            th:if="${theme.config.index_info.info_site.site_enabled == 'custom' ? not #strings.isEmpty(theme.config.index_info.custom.custom_logo) : not #strings.isEmpty(theme.config.index_info.default.logo ?: site.logo)}"
          />
          <div th:if="${theme.config.index_info.info_site.site_enabled == 'default'}">
            <span class="font-display text-base font-bold sm:text-xl" th:text="${theme.config.index_info.default.title ?: site.title}"></span>
            <div
              class="text-xs text-gray-900 dark:text-white/40"
              th:if="not ${#strings.isEmpty(theme.config.index_info.default.description ?: site.subtitle)}"
              th:text="${theme.config.index_info.default.description ?: site.subtitle}"
            ></div>
          </div>
        </th:block>
      </a>
      <ul class="hidden items-center justify-center whitespace-nowrap lg:flex lg:text-base" th:with="menu = ${menuFinder.getPrimary()}">
        <th:block th:each="menuItem,iter : ${menu.menuItems}">
          <li class="mx-2" th:if="${#lists.isEmpty(menuItem.children)}">
            <a class="flex cursor-pointer items-center px-4 py-2" th:href="@{${menuItem.status.href}}" th:target="${menuItem.spec.target?.value}">
              <th:block th:if="${not #strings.isEmpty(#annotations.getOrDefault(menuItem, 'MenuFont', ''))}">
                <span class="mr-1 inline-block">
                  <th:block th:utext="${#annotations.getOrDefault(menuItem, 'MenuFont', '')}"></th:block>
                </span>
              </th:block>
              <span class="font-medium" th:text="${menuItem.status.displayName}"></span>
            </a>
          </li>
          <li class="mx-2" th:unless="${#lists.isEmpty(menuItem.children)}">
            <div class="relative flex cursor-pointer items-center justify-between px-4 py-2 font-medium" th:attr="id=|${menuItem.metadata.name}|" th:onclick="toggleMenu(this)">
              <th:block th:if="${not #strings.isEmpty(#annotations.getOrDefault(menuItem, 'MenuFont', ''))}">
                <span class="mr-1 inline-block">
                  <th:block th:utext="${#annotations.getOrDefault(menuItem, 'MenuFont', '')}"></th:block>
                </span>
              </th:block>
              <span class="h-full w-full" th:target="${menuItem.spec.target?.value}" th:text="${menuItem.status.displayName}"></span>
              <svg class="ml-2" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                <path
                  clip-rule="evenodd"
                  d="M4.293 7.793a1 1 0 0 1 1.414 0L12 14.086l6.293-6.293a1 1 0 1 1 1.414 1.414L13.414 15.5a2 2 0 0 1-2.828 0L4.293 9.207a1 1 0 0 1 0-1.414"
                  fill="currentColor"
                  fill-rule="evenodd"
                />
              </svg>
              <ul
                class="pointer-events-none absolute top-full left-1/2 z-10 mt-2 w-44 -translate-x-1/2 translate-y-1 overflow-hidden rounded-2xl bg-white p-2 opacity-0 shadow-lg transition duration-200 ease-out dark:bg-gray-800"
                th:attr="id=|children-${menuItem.metadata.name}|"
              >
                <li class="group flex rounded-lg text-sm leading-6" th:each="childMenuItem : ${menuItem.children}">
                  <a
                    class="flex-auto rounded-lg p-2 hover:bg-gray-100 dark:hover:bg-white/5"
                    th:classappend="${not #strings.isEmpty(#annotations.getOrDefault(childMenuItem, 'MenuFont', ''))} ? 'flex items-center mx-1 overflow-hidden' : 'text-center'"
                    th:href="@{${childMenuItem.status.href}}"
                    th:target="${childMenuItem.spec.target?.value}"
                  >
                    <th:block th:if="${not #strings.isEmpty(#annotations.getOrDefault(childMenuItem, 'MenuFont', ''))}">
                      <span class="mr-1 inline-block">
                        <th:block th:utext="${#annotations.getOrDefault(childMenuItem, 'MenuFont', '')}"></th:block>
                      </span>
                    </th:block>
                    <span class="block w-full overflow-hidden font-semibold text-gray-900 dark:text-white/70" th:text="${childMenuItem.status.displayName}"></span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </th:block>
      </ul>
      <div class="flex items-center">
        <div
          class="relative h-5 w-10 cursor-pointer rounded-full bg-gray-300 transition-colors duration-150 ease-out will-change-[background-color] select-none dark:bg-gray-600"
          id="theme-toggle"
        >
          <div
            class="absolute top-0.5 left-0.5 flex h-4 w-4 transform-gpu items-center justify-center rounded-full bg-white text-xs shadow-md transition-transform duration-150 ease-out will-change-transform dark:bg-orange-400"
            id="theme-toggle-slider"
          ></div>
        </div>
        <button class="p-2 lg:hidden" id="mobile-btn">
          <svg class="h-6 w-6 text-gray-500 dark:text-white" id="menu-icon" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M4 6h16M4 12h16M4 18h16" id="icon-bar" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
            <path class="hidden" d="M6 6l12 12M6 18L18 6" id="icon-close" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          </svg>
        </button>
        <a class="mx-2 hidden px-2 lg:block" href="javascript:SearchWidget.open()" th:if="${pluginFinder.available('PluginSearchWidget')}" th:title="#{fragment.header.search}">
          <i class="fas fa-search"></i>
        </a>
        <th:block th:if="${theme.config.index_info.info_setting.u_enabled == true}">
          <div class="relative hidden lg:block">
            <i class="fa-solid fa-bars-progress mr-2 cursor-pointer px-1 transition-opacity hover:opacity-80" id="user-quick-button"></i>
            <ul
              id="user-quick-menu"
              class="pointer-events-none absolute top-full left-1/2 z-10 mt-2 w-32 -translate-x-1/2 translate-y-1 overflow-hidden rounded-2xl bg-white p-2 opacity-0 shadow-lg transition duration-200 ease-out dark:bg-gray-800"
            >
              <li class="group flex rounded-lg text-sm leading-6">
                <a
                  class="flex flex-auto items-center gap-1 overflow-hidden rounded-lg p-2 px-4 hover:bg-gray-100 dark:hover:bg-white/5"
                  sec:authorize="isAnonymous()"
                  href="/signup"
                  onclick="this.href = '/signup?redirect_uri=' + encodeURIComponent(window.location.href)"
                >
                  <i class="fa-solid fa-user-plus ml-2"></i>
                  <span class="block overflow-hidden text-gray-900 dark:text-white/70">注册</span>
                </a>
              </li>
              <li class="group flex rounded-lg text-sm leading-6">
                <a
                  class="flex flex-auto items-center gap-1 overflow-hidden rounded-lg p-2 px-4 hover:bg-gray-100 dark:hover:bg-white/5"
                  sec:authorize="isAnonymous()"
                  href="/login"
                  onclick="this.href = '/login?redirect_uri=' + encodeURIComponent(window.location.href)"
                >
                  <i class="fa-solid fa-right-from-bracket ml-2"></i>
                  <span class="block overflow-hidden text-gray-900 dark:text-white/70">登录</span>
                </a>
              </li>
              <li class="group flex rounded-lg text-sm leading-6">
                <a
                  class="flex flex-auto items-center gap-1 overflow-hidden rounded-lg p-2 px-4 hover:bg-gray-100 dark:hover:bg-white/5"
                  sec:authorize="isAuthenticated()"
                  href="/uc"
                >
                  <i class="fa-solid fa-gear ml-2 scale-x-[-1]"></i>
                  <span class="block overflow-hidden text-gray-900 dark:text-white/70">用户</span>
                </a>
              </li>
              <li class="group flex rounded-lg text-sm leading-6">
                <a
                  class="flex flex-auto items-center gap-1 overflow-hidden rounded-lg p-2 px-4 hover:bg-gray-100 dark:hover:bg-white/5"
                  sec:authorize="isAuthenticated()"
                  href="/logout"
                >
                  <i class="fa-solid fa-right-from-bracket ml-2 scale-x-[-1]"></i>
                  <span class="block overflow-hidden text-gray-900 dark:text-white/70">退出</span>
                </a>
              </li>
            </ul>
          </div>
        </th:block>
      </div>
    </div>
  </div>
</header>
<div class="pointer-events-none fixed inset-0 z-40 overflow-hidden opacity-0 lg:hidden" id="mobile-menu">
  <div class="absolute inset-0 bg-black/50 opacity-0 backdrop-blur-md transition-opacity will-change-[opacity]" id="mobile-backdrop"></div>
  <div
    class="border-white-dark fixed top-0 right-0 h-full w-64 max-w-full translate-x-full transform border-l border-solid bg-gray-100 backdrop-blur-xl transition-transform duration-300 ease-in-out md:w-96 dark:bg-gray-900"
    id="mobile-panel"
  >
    <div class="flex h-full w-full flex-col justify-center px-10">
      <ul class="space-y-2" th:with="menu = ${menuFinder.getPrimary()}">
        <li
          class="flex items-center justify-between py-2 text-lg font-medium"
          th:if="${pluginFinder.available('PluginSearchWidget') and theme.config.index_info.info_setting.s_enabled == true}"
        >
          <a href="javascript:SearchWidget.open()" th:text="#{fragment.header.search}" th:title="#{fragment.header.search}"></a>
          <i class="fas fa-search text-sm"></i>
        </li>
        <th:block th:each="menuItem,iter : ${menu.menuItems}">
          <li class="block py-2 text-lg font-medium" th:if="${#lists.isEmpty(menuItem.children)}">
            <a class="flex cursor-pointer items-center" th:href="@{${menuItem.status.href}}" th:target="${menuItem.spec.target?.value}">
              <th:block th:if="${not #strings.isEmpty(#annotations.getOrDefault(menuItem, 'MenuFont', ''))}">
                <span class="mr-1 inline-block">
                  <th:block th:utext="${#annotations.getOrDefault(menuItem, 'MenuFont', '')}"></th:block>
                </span>
              </th:block>
              <span class="font-medium" th:text="${menuItem.status.displayName}"></span>
            </a>
          </li>
          <li class="menu-item block py-2 text-lg font-medium" th:unless="${#lists.isEmpty(menuItem.children)}">
            <div class="flex cursor-pointer items-center justify-between">
              <th:block th:if="${not #strings.isEmpty(#annotations.getOrDefault(menuItem, 'MenuFont', ''))}">
                <span class="mr-1 inline-block">
                  <th:block th:utext="${#annotations.getOrDefault(menuItem, 'MenuFont', '')}"></th:block>
                </span>
              </th:block>
              <div
                class="h-full w-full"
                th:attr="id=|more-toggle-${menuItem.metadata.name}|"
                th:target="${menuItem.spec.target?.value}"
                th:text="${menuItem.status.displayName}"
              ></div>
              <svg
                class="transform transition-transform duration-300"
                height="16"
                th:attr="id=|more-arrow-${menuItem.metadata.name}|"
                viewBox="0 0 12 12"
                width="16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M4.7 10c-.2 0-.4-.1-.5-.2c-.3-.3-.3-.8 0-1.1L6.9 6L4.2 3.3c-.3-.3-.3-.8 0-1.1s.8-.3 1.1 0l3.3 3.2c.3.3.3.8 0 1.1L5.3 9.7q-.3.3-.6.3" fill="currentColor" />
              </svg>
            </div>
            <ul
              class="border-apple-gray-300 pointer-events-none max-h-0 overflow-hidden border-l border-dashed pl-3 text-base font-medium opacity-0 transition-all duration-300 ease-in-out"
            >
              <li class="py-2 first:pt-3" th:each="childMenuItem : ${menuItem.children}">
                <a
                  th:classappend="${not #strings.isEmpty(#annotations.getOrDefault(childMenuItem, 'MenuFont', ''))} ? 'flex items-center' : ''"
                  th:href="@{${childMenuItem.status.href}}"
                  th:target="${childMenuItem.spec.target?.value}"
                >
                  <th:block th:if="${not #strings.isEmpty(#annotations.getOrDefault(childMenuItem, 'MenuFont', ''))}">
                    <span class="mr-1 inline-block">
                      <th:block th:utext="${#annotations.getOrDefault(childMenuItem, 'MenuFont', '')}"></th:block>
                    </span>
                  </th:block>
                  <span class="block font-semibold text-gray-900 dark:text-white/70" th:text="${childMenuItem.status.displayName}"></span>
                </a>
              </li>
            </ul>
          </li>
        </th:block>
      </ul>
    </div>
  </div>
</div>
