<!doctype html>
<html
  th:replace="~{modules/layout :: html(title = |#{page.categories.title} - ${site.title}|, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}"
  xmlns:th="https://www.thymeleaf.org"
>
  <th:block th:fragment="content">
    <th:block th:replace="~{modules/header}" />
    <!--  Categories Title  -->
    <div class="mt-16 bg-gray-400/5 px-4 py-12 sm:px-6 sm:py-16 lg:px-8 dark:bg-white/5">
      <div class="mx-auto max-w-3xl" th:with="stats = ${siteStatsFinder.getStats()}">
        <div class="flex flex-col items-center justify-center space-y-4">
          <div class="inline-flex h-12 w-12 items-center justify-center rounded-2xl bg-gray-500 shadow-lg sm:h-16 sm:w-16">
            <i class="fas fa-folder-open text-2xl text-white"></i>
          </div>
          <th:block th:with="paSetting = ${theme.config.page_setting.pa_setting}">
            <h1
              class="text-2xl font-bold text-gray-900/70 sm:text-3xl dark:text-white/70"
              th:text="|${paSetting != null and paSetting.pc_enabled == true and paSetting.pc_title != null and paSetting.pc_title != ''}| ? |${paSetting.pc_title}| : |#{page.categories.title}|"
            ></h1>
            <p
              class="text-center text-sm leading-relaxed text-gray-600 sm:text-base dark:text-gray-300"
              th:text="|${paSetting != null and paSetting.pc_enabled == true and paSetting.pc_subtitle != null and paSetting.pc_subtitle != ''}| ? |${paSetting.pc_subtitle}| : |#{page.categories.subtitle}|"
            ></p>
          </th:block>
        </div>
      </div>
    </div>
    <!--  Categories Card  -->
    <section class="mx-auto max-w-6xl px-2 py-8 md:px-4">
      <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <li
          class="group space-y-3 overflow-hidden rounded-2xl bg-gray-400/5 p-4 backdrop-blur-sm transition-all duration-300 ease-out hover:-translate-y-2 dark:bg-white/5"
          th:each="category : ${categories}"
        >
          <div class="flex items-center justify-between">
            <div th:with="fontIcon=${#annotations.getOrDefault(category, 'font', '')},colorClass = ${#annotations.getOrDefault(category, 'color', '')}" class="flex items-center">
              <div th:if="${not #strings.isEmpty(fontIcon)}" th:utext="${fontIcon}" class="size-4"></div>
              <i
                th:if="${#strings.isEmpty(fontIcon)}"
                class="fas fa-folder-open"
                th:classappend="${not #strings.isEmpty(colorClass) ? colorClass : 'text-gray-500'}"
                th:style="${not #strings.isEmpty(colorClass) ? 'background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;' : ''}"
              ></i>
              <span class="ml-1 text-sm font-medium" th:text="${category.spec.displayName}"></span>
            </div>

            <div class="flex items-center space-x-0.5 text-xs text-gray-500 dark:text-gray-400">
              <i class="fas fa-file-alt text-gray-400 dark:text-gray-500"></i>
              <span th:text="${category.status?.visiblePostCount ?: 0} + ' ' + #{page.archives.title.post}"></span>
            </div>
          </div>
          <p class="line-clamp-1 text-sm text-gray-500" th:if="${!#strings.isEmpty(category.spec.description)}" th:text="${category.spec.description}"></p>
          <p class="line-clamp-1 text-sm text-gray-500" th:unless="${!#strings.isEmpty(category.spec.description)}" th:text="#{page.categories.other}"></p>

          <div class="rounded-md bg-gray-50/80 p-2 dark:bg-white/5" th:with="posts = ${postFinder.listByCategory(1,1,'__${category.metadata.name}__')}">
            <dl class="text-gray-500 dark:text-gray-400" th:each="post : ${posts.items}" th:if="${postStat.index == 0}">
              <dt class="flex items-center space-x-0.5 text-xs">
                <i class="fas fa-clock"></i>
                <span
                  class="text-xs"
                  th:if="${#locale.language == 'zh'}"
                  th:text="#{page.archives.date_zh(${#dates.format(post.spec.publishTime,'dd')},${#dates.format(post.spec.publishTime,'MM')},${#dates.format(post.spec.publishTime,'yy')})}"
                ></span>
                <span
                  class="text-xs"
                  th:if="${#locale.language != 'zh'}"
                  th:text="#{page.archives.date(${#dates.format(post.spec.publishTime,'dd')},${#dates.format(post.spec.publishTime,'MMM')},${#dates.format(post.spec.publishTime,'yyyy')})}"
                ></span>
              </dt>
              <dd class="text-xs">
                <a
                  class="flex items-center justify-between transition duration-300 group-hover:text-black dark:group-hover:text-white"
                  th:href="@{/categories/{name}(name=${category.spec.slug})}"
                >
                  <span class="text-sm font-medium" th:text="${post.spec.title}"></span>
                  <div>
                    <span th:text="#{page.categories.morePosts}"></span>
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </a>
              </dd>
            </dl>
            <div class="text-xs text-gray-500 dark:text-gray-400" th:if="${#lists.isEmpty(posts.items)}">
              <dt class="flex items-center space-x-0.5 text-xs">
                <i class="fas fa-clock"></i>
                <span class="text-xs" th:text="#{page.categories.empty}"></span>
              </dt>
              <dd class="text-xs">
                <a
                  class="flex items-center justify-between transition duration-300 group-hover:text-black dark:group-hover:text-white"
                  th:href="@{/categories/{name}(name=${category.spec.slug})}"
                >
                  <span class="text-sm font-medium" th:text="#{page.categories.null}"></span>
                  <div>
                    <span th:text="#{page.categories.morePosts}"></span>
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </a>
              </dd>
            </div>
          </div>
        </li>
        <th:block th:each="category : ${categories}" th:if="${not #lists.isEmpty(category.children)}">
          <li
            class="group space-y-3 overflow-hidden rounded-2xl bg-gray-400/5 p-4 backdrop-blur-sm transition-all duration-300 ease-out hover:-translate-y-2 dark:bg-white/5"
            th:each="child : ${category.children}"
          >
            <div class="flex items-center justify-between">
              <div th:with="fontIcon=${#annotations.getOrDefault(child, 'font', '')},colorClass = ${#annotations.getOrDefault(child, 'color', '')}" class="flex items-center">
                <div th:if="${not #strings.isEmpty(fontIcon)}" th:utext="${fontIcon}" class="size-4"></div>
                <i
                  th:if="${#strings.isEmpty(fontIcon)}"
                  class="fas fa-folder-open"
                  th:classappend="${not #strings.isEmpty(colorClass) ? colorClass : 'text-gray-500'}"
                  th:style="${not #strings.isEmpty(colorClass) ? 'background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;' : ''}"
                ></i>
                <span class="ml-1 text-sm font-medium" th:text="${child.spec.displayName}"></span>
              </div>
              <div class="flex items-center space-x-0.5 text-xs text-gray-500 dark:text-gray-400">
                <i class="fas fa-file-alt text-gray-400 dark:text-gray-500"></i>
                <span th:text="|${child.postCount != null ? child.postCount : 0} | + |#{page.archives.title.post}|"></span>
              </div>
            </div>
            <p class="line-clamp-1 text-sm text-gray-500" th:if="${!#strings.isEmpty(child.spec.description)}" th:text="${child.spec.description}"></p>
            <p class="line-clamp-1 text-sm text-gray-500" th:unless="${!#strings.isEmpty(child.spec.description)}" th:text="#{page.categories.other}"></p>
            <div class="rounded-md bg-gray-50/80 p-2 dark:bg-white/5" th:with="posts = ${postFinder.listByCategory(1,1,'__${child.metadata.name}__')}">
              <dl class="text-gray-500 dark:text-gray-400" th:each="post : ${posts.items}" th:if="${postStat.index == 0}">
                <dt class="flex items-center space-x-0.5 text-xs">
                  <i class="fas fa-clock"></i>
                  <span
                    class="text-xs"
                    th:if="${#locale.language == 'zh'}"
                    th:text="#{page.archives.date_zh(${#dates.format(post.spec.publishTime,'dd')},${#dates.format(post.spec.publishTime,'MM')},${#dates.format(post.spec.publishTime,'yy')})}"
                  ></span>
                  <span
                    class="text-xs"
                    th:if="${#locale.language != 'zh'}"
                    th:text="#{page.archives.date(${#dates.format(post.spec.publishTime,'dd')},${#dates.format(post.spec.publishTime,'MMM')},${#dates.format(post.spec.publishTime,'yyyy')})}"
                  ></span>
                </dt>
                <dd class="text-xs">
                  <a
                    class="flex items-center justify-between transition duration-300 group-hover:text-black dark:group-hover:text-white"
                    th:href="@{/categories/{name}(name=${child.spec.slug})}"
                  >
                    <span class="text-sm font-medium" th:text="${post.spec.title}"></span>
                    <div>
                      <span th:text="#{page.categories.morePosts}"></span>
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  </a>
                </dd>
              </dl>
              <div class="text-xs text-gray-500 dark:text-gray-400" th:if="${#lists.isEmpty(posts.items)}">
                <dt class="flex items-center space-x-0.5 text-xs">
                  <i class="fas fa-clock"></i>
                  <span class="text-xs" th:text="#{page.categories.empty}">暂无</span>
                </dt>
                <dd class="text-xs">
                  <a
                    class="flex items-center justify-between transition duration-300 group-hover:text-black dark:group-hover:text-white"
                    th:href="@{/categories/{name}(name=${category.spec.slug})}"
                  >
                    <span class="text-sm font-medium" th:text="#{page.categories.null}"></span>
                    <div>
                      <span th:text="#{page.categories.morePosts}"></span>
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  </a>
                </dd>
              </div>
            </div>
          </li>
        </th:block>
      </ul>
    </section>
    <th:block th:replace="~{modules/footer}" />
  </th:block>
</html>
