<!doctype html>
<html
  th:replace="~{modules/layout :: html(title = |#{page.categories.title} - ${site.title}|, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}"
  xmlns:th="https://www.thymeleaf.org"
>
  <th:block th:fragment="content">
    <th:block th:replace="~{modules/header}" />
    <!--  Categories Title  -->
    <div class="mt-16 bg-gray-400/5 px-4 py-12 sm:px-6 sm:py-16 lg:px-8 dark:bg-white/5">
      <div class="mx-auto max-w-3xl" th:with="stats = ${siteStatsFinder.getStats()}">
        <div class="flex flex-col items-center justify-center space-y-4">
          <div class="inline-flex h-12 w-12 items-center justify-center rounded-2xl bg-gray-500 shadow-lg sm:h-16 sm:w-16">
            <i class="fas fa-folder-open text-2xl text-white"></i>
          </div>
          <th:block th:with="paSetting = ${theme.config.page_setting.pa_setting}">
            <h1
              class="text-2xl font-bold text-gray-900/70 sm:text-3xl dark:text-white/70"
              th:text="|${paSetting != null and paSetting.pc_enabled == true and paSetting.pc_title != null and paSetting.pc_title != ''}| ? |${paSetting.pc_title}| : |#{page.categories.title}|"
            ></h1>
            <p
              class="text-center text-sm leading-relaxed text-gray-600 sm:text-base dark:text-gray-300"
              th:text="|${paSetting != null and paSetting.pc_enabled == true and paSetting.pc_subtitle != null and paSetting.pc_subtitle != ''}| ? |${paSetting.pc_subtitle}| : |#{page.categories.subtitle}|"
            ></p>
          </th:block>
        </div>
      </div>
    </div>
    <!--  Categories Card  -->
    <section class="mx-auto max-w-6xl px-2 py-8 md:px-4">
      <ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <th:block th:each="category : ${categories}">
          <th:block th:replace="~{modules/module :: categoryCard(cat=${category})}" />
        </th:block>
        <th:block th:each="category : ${categories}" th:if="${not #lists.isEmpty(category.children)}">
          <th:block th:each="child : ${category.children}">
            <th:block th:replace="~{modules/module :: categoryCard(cat=${child})}" />
          </th:block>
        </th:block>
      </ul>
    </section>
    <th:block th:replace="~{modules/footer}" />
  </th:block>
</html>
