<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = |#{page.moments.title} - ${site.title}|, hero = null, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = '')}"
>
  <th:block th:fragment="content">
    <th:block th:replace="~{modules/header}" />
    <div class="mt-16 bg-gray-400/5 px-4 py-12 sm:px-6 sm:py-16 lg:px-8 dark:bg-white/5">
      <div class="mx-auto max-w-3xl">
        <div class="flex flex-col items-center justify-center space-y-4">
          <div class="page-icon">
            <img class="h-full w-full rounded-xl bg-cover md:rounded-2xl" alt="moments" th:src="@{/assets/images/moments.svg}" />
          </div>
          <th:block th:with="paSetting = ${theme.config.page_setting.pa_setting}">
            <h1
              class="text-2xl font-bold text-gray-900/70 sm:text-3xl dark:text-white/70"
              th:text="|${paSetting != null and paSetting.pm_enabled == true and paSetting.pm_title != null and paSetting.pm_title != ''}| ? |${paSetting.pm_title}| : |#{page.moments.title}|"
            ></h1>
            <p
              class="text-center text-sm leading-relaxed text-gray-600 sm:text-base dark:text-gray-300"
              th:text="|${paSetting != null and paSetting.pm_enabled == true and paSetting.pm_subtitle != null and paSetting.pm_subtitle != ''}| ? |${paSetting.pm_subtitle}| : |#{page.moments.subtitle}|"
            ></p>
          </th:block>
        </div>
      </div>
    </div>
    <section class="mx-auto max-w-4xl px-2 py-8 md:px-4">
      <ul class="space-y-6">
        <th:block th:replace="~{modules/moment-list :: momentCard(${moment})}" />
      </ul>
    </section>
    <th:block th:replace="~{modules/shareModal}" />
    <th:block th:replace="~{modules/footer}" />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const momentUpvote = new Upvote("halo.upvoted.moment.names", "moments", undefined, {}, "moment.halo.run", {
          headerBtnAttr: '[data-moment-name="{name}"]',
          header: '[data-moment-upvote="{name}"]',
        });
        momentUpvote.init();
        setTimeout(() => shareModalInstance(), 100);
      });
    </script>
  </th:block>
</html>
