<!doctype html>
<html th:replace="~{modules/layout :: html(title = |${singlePage.spec.title} - ${site.title}|, head = ~{::head},content = ~{::content})}" xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <th:block th:replace="~{modules/header}" />
    <img alt="封面" class="mt-18 aspect-square h-48 w-full object-cover lg:h-80" th:src="${singlePage.spec.cover ?: #theme.assets('/images/hello_mego.webp')}" />
    <div class="mx-auto mt-6 px-4 pb-8 sm:px-6 lg:mt-12 lg:px-8" th:classappend="${theme.config.index_info.info_setting.page_aside == true} ? 'max-w-6xl' : 'max-w-7xl'">
      <div class="grid grid-cols-1 gap-8" th:classappend="${theme.config.index_info.info_setting.page_aside == true} ? 'xl:grid-cols-1' : 'xl:grid-cols-4'">
        <div class="space-y-8" th:classappend="${theme.config.index_info.info_setting.page_aside == true} ? '' : 'lg:col-span-3 lg:mr-4'">
          <section class="prose max-w-full text-gray-900 dark:text-white/70" th:utext="${singlePage.content.content}"></section>
          <div class="py-5 sm:py-8" th:if="${haloCommentEnabled}">
            <halo:comment group="content.halo.run" kind="SinglePage" th:attr="name=${singlePage.metadata.name}" />
            <span id="comment"></span>
          </div>
        </div>
        <aside class="sticky top-24 hidden h-max w-full xl:col-span-1 xl:inline-block" th:if="${theme.config.index_info.info_setting.page_aside != true}">
          <th:block th:replace="~{modules/sidebar :: sidebar(article=${singlePage}, tocMaxHeight='max-h-120')}" />
        </aside>
      </div>
    </div>
    <th:block th:replace="~{modules/donate}" />
    <th:block th:replace="~{modules/footer}" />
    <script th:src="@{/assets/js/tocbot.min.js}"></script>
    <script th:inline="javascript">
      const singlePageUpvote = new Upvote("halo.upvoted.singlepage.names", "singlepages", undefined, {
        likedTitle: /*[[#{fragment.postWidget.likes.title}]]*/ "",
        subtitle1: /*[[#{fragment.postWidget.likes.subtitle1}]]*/ "",
        subtitle2: /*[[#{fragment.postWidget.likes.subtitle2}]]*/ "",
      });
    </script>
    <script>
      readingTime.calculate();
      Tocbot();
      singlePageUpvote.init();
      initDonateModal();
    </script>
  </th:block>
</html>
