@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@import "./all.min.css";
@import "./main.css";
@custom-variant dark (&:where([data-color-scheme=dark], [data-color-scheme=dark] *));

.prose :where(img) {
    @apply my-0 aspect-auto object-contain;
}

.prose :where(blockquote, h1, h2, h3, h4, h5, h6) {
    @apply text-gray-900 dark:text-white/70;
}

.prose :where(table, tr, td, a) {
    @apply !text-gray-900 dark:!text-white/70;
}

.prose :where(td) {
    border: 1px solid rgb(221, 221, 221);
}

.prose :where(table) {
    @apply !w-full;
}

.prose :where(pre) {
    @apply pt-0 pr-0 pb-0 pl-0;
}
.prose :where(strong) {
    @apply font-semibold text-gray-900 dark:text-white/70;
}

:where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before,
:where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: "";
}

.prose :where(p code) {
    @apply rounded-sm bg-gray-400/20 p-1 text-gray-900/80 dark:bg-white/25 dark:text-white/80;
}

.prose :where(a.tag) {
    @apply inline-flex items-center rounded-full border border-gray-300 bg-gray-100/80 px-2.5 py-0.5 text-xs font-medium text-gray-800 no-underline backdrop-blur-sm dark:border-gray-600 dark:bg-gray-700/80 dark:text-gray-200;
}

.prose :where(a.tag)::before {
    content: "#";
    @apply mr-0.5 opacity-80;
}

@utility scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
